{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% if users is defined %}
                <h3>Utilisateurs</h3>
                <table class="table table-hover table-condensed">
                    <caption>Liste des utilisateurs</caption>
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th class="text-center">Modifier</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.userLogin }}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('edituser', {id: user.userId}) }}" class="btn btn-primary"
                                   title="Modifier l'utilisateur" role="button">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('deleteuser', {id: user.userId}) }}" class="btn btn-danger"
                                   title="Supprimer l'utilisateur" role="button">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    Aucun utilisateur n'a été trouvé dans la base de données.
                </p>
            {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Quiz</h3>
            {% if quizzes is defined %}
                <table class="table table-hover table-condensed">
                    <caption>Liste des utilisateurs</caption>
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Nom</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>
                                {{ quiz.quizId }}
                            </td>
                            <td class="">
                                {{ quiz.quizTitle }}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('deletequiz', {id: quiz.quizId}) }}" class="btn btn-danger"
                                   title="Supprimer le Quiz" role="button">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    Aucun quiz n'a été trouvé dans la base de données.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}