{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ quiz.quiztitle }}</h3>
            </div>
            <div class="panel-body">
                {{ quiz.quizdescription }}
            </div>
        </div>
    </div>
    {% if questions is defined %}
        <div class="row">
            {% for question in questions %}
                <div class="col-lg-offset-2 col-sm-8 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{ question.QuestionText }} </h3>
                        </div>
                        {% if question.answers is defined %}
                            <div class="panel-body">
                                {% for answer in question.answers %}
                                    <p><label for="{{ answer.answerId }}">{{ answer.answercontent }} : </label><input name="{{ answer.answerId }}" id="{{ answer.answerId }}" type="radio"></p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}