{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ quiz.quiztitle }}</h3>
            </div>
            <div class="panel-body">
                {{ quiz.quizdescription }}
            </div>
        </div>
    </div>
    {% if questions is defined %}
        <div class="row">
            {% for question in questions %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ question.QuestionText }} </h3>
                    </div>
                    {% if question.answers is defined %}
                        <div class="panel-body">
                            {% for answer in question.answers %}
                                <div class="col-lg-6 col-sm-6">
                                    <label for="{{ answer.answerId }}">{{ answer.answercontent | raw }}</label>
                                    <input name="{{ question.questionId }}" id="{{ answer.answerId }}" type="radio">
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}