{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        {% if user is defined %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Profil</h3>

                <form>
                    <div class="form-group">
                        <label for="password1">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="password1" placeholder="Nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirmation mot de passe</label>
                        <input type="password" class="form-control" id="password2"
                               placeholder="Confirmation mot de passe">
                    </div>
                    <button type="submit" class="btn btn-default">Changer le mot de passe</button>
                </form>
            </div>
        {% endif %}
        {% if myquizzes is defined and myquizzes is not empty %}
            <div class="col-sm-12 col-xs-12 col-lg-6">
                <h3>Mes Quiz</h3>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for quiz in myquizzes %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ quiz.quizId }}" aria-expanded="false"
                                       aria-controls="collapse{{ quiz.quizId }}">
                                        <span class="glyphicon glyphicon-question-sign"></span> {{ quiz.quizTitle }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ quiz.quizId }}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading{{ quiz.quizId }}">
                                <div class="panel-body">
                                    {{ quiz.quizDescription }}
                                    <a href="{{ path('edit/quiz', {'id' : quiz.quizId}) }}"><span
                                                class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}