{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>
                Bienvenue sur Miniquiz. Cette application web vous permet de créer des quiz et de les partager avec vos amis.
                Pensez à vous inscrire pour profiter pleinement de toutes les fonctionnalités du site.
                Amusez vous bien sur Miniquiz.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-12">
            {% if quizzes is defined and quizzes is not empty %}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for quiz in quizzes %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ quiz.quizId }}" aria-expanded="false" aria-controls="collapse{{ quiz.quizId }}">
                                        <span class="glyphicon glyphicon-question-sign"></span> {{ quiz.quizTitle }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ quiz.quizId }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ quiz.quizId }}">
                                <div class="panel-body">
                                    <p>{{ quiz.quizDescription }}</p>
                                    <p><a class="btn btn-default" href="{{ path('answerQuiz', {'id' : quiz.quizId, 'questionNumber' : 0}) }}">Répondre</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}