{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gestion du profil</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="{{ path('edituser', {id: user.userId}) }}" type="button" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier mon mot de
                                passe
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="{{ path('deleteuser', {id: user.userId}) }}" class="btn btn-danger btn-block"
                               title="Attention, cliquer sur ce bouton est irréversible">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer mon profil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if myquizzes is defined and myquizzes is not empty %}
                <h3>Mes Quiz</h3>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quiz in myquizzes %}
                        <tr>
                            <td>
                                {{ quiz.quizTitle }}
                            </td>
                            <td>
                                {{ quiz.quizDescription }}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('editquiz', {'id' : quiz.quizId}) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('deletequiz', {'id' : quiz.quizId}) }}"
                                   class="btn btn-danger" title="Supprimer le quiz {{ quiz.quizTitle }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}