{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gestion du profil</h3>
                </div>
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-lg-12 col-sm-12">
                            <a href="{{ path('edituser', {id: user.userId}) }}" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Modifier mon profil
                            </a>
                            <a href="{{ path('deleteuser', {id: user.userId}) }}" class="btn btn-danger" title="Attention, cliquer sur ce bouton est irréversible">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer mon profil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {% if myquizzes is defined and myquizzes is not empty %}
                <h3>Mes quiz</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for quiz in myquizzes %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ quiz.quizId }}" aria-expanded="false"
                                       aria-controls="collapse{{ quiz.quizId }}">
                                        <span class="glyphicon glyphicon-question-sign"></span> {{ quiz.quizTitle }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ quiz.quizId }}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading{{ quiz.quizId }}">
                                <div class="panel-body">
                                    {{ quiz.quizDescription }}
                                    <a href="{{ path('editquiz', {'id' : quiz.quizId}) }}"><span
                                                class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}